body{
  
    background-image:url(sky.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:200vh;
    background-position: center;
    

}h1{
  
    color:plum;
    background-color:slategray;
    padding:10px;
    margin: 10px;
    font-size:10vw;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style:normal;
    z-index: -1;
    
   
    


}



.container{
    /* position: relative; */
    text-align:left;

    height:10vw;
     padding: 1px;
     display: block;
     flex-direction: row;
     align-items: center;
     justify-content: center;
    gap:5px;
}

p{
    background-color: antiquewhite;
    color:palevioletred;
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;

    

}